<html>
    <head>
        <title>Arm Runner -- Routines</title>
        <link rel="stylesheet"
            type="text/css"
            href="styles.css"
            />
    </head>
    <body>
        <h1>Routine Runner</h1>

        <ol>
          <li>
            <a href="routine1.html">Routine 1</a>
          </li>
          <li>
            <a href="routine2.html">Routine 2</a>
          </li>
          <li>
            <a href="routine3.html">Routine 3</a>
          </li>
        </ol>

        <a href="index.html">
          HOME
        </a>
          &nbsp;
        <a href="runroutines.html">
          RUN ROUTINES
        </a>
          &nbsp;
      </body>
</html>
