<html>
    <head>
        <title>Arm Runner -- Routines</title>
    </head>
    <body>
        <h1>Routine Runner</h1>

        <ol>
          <li>
            button one would go here, running a certain routine
          </li>
          <li>
            etc
          </li>
          <li>
            etc
          </li>
        </ol>

        <a href="index.html">
          HOME
        </a>
          &nbsp;
        <a href="runroutines.html">
          RUN ROUTINES
        </a>
          &nbsp;
      </body>
</html>
