body{
    background-color: rgb(255,250,250);
    color: rgb(22,23,24);
}

h1{
    font-style: sans-serif;
}

h2{
    font-style: sans-serif;
}

h3{
    font-style: sans-serif;
}

p{
    font-style: sans-serif;
}

ol{
    font-style: sans-serif;
}

a{
    color: grey;
    text-decoration: none;
    font-size: 18;
    font-family: sans-serif
}

a:hover{
    color: black;
}

.indent{
    margin-left: 10px;
}
